html{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#logo{
    width: 40px;
}
a{
    text-decoration: none;
    color: black;
}
#imgdetalles{
    width: 150px;
    height: 150px;
}
#Detalles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items:center;
    
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:sandybrown;
    padding: 15px;
    margin: 15px;
    
}
#Enlaces{
    color: ;
    
    
}
button{
    background-color:sandybrown ;
    border-radius: 8px;
    border-color: sandybrown;
}