html { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header {
    padding: 15px;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-idiomas {
    align-items: center;
    justify-content: center;
}
.header-idiomas a {
    text-decoration: none;
    color: black;
}
#logo-principal { 
    width: 200px;
}
.icono:hover {
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 0.5s;
    transform: scale(1.3);
}

.icono { 
    width: 30px;
    margin-left: 15px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: sandybrown;
    padding: 12px;
    margin-top: 15px;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#usuario {
    display: flex;
    align-items: center;
    gap: 10px;
}

#usuario p {
    margin: 0;
    font-weight: bold;
}

#usuario button {
    padding: 5px 10px;
    background-color: #242323;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.introduccion{
    text-align: center;
}

.vistaProductos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px;
    padding: 20px;
    justify-items: center;
    
}

.tarjeta-producto a{
    text-decoration: none;
    color: black;
}

.tarjeta-producto {
    border: 1px solid #d3d3d3;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
    padding: 0 20px 20px 20px;
}
.tarjeta-producto:hover {
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 0.5s;
    transform: scale(1.1);
}

.tarjeta-producto img {
    width: 100%;
    height: 350px;
    object-fit: contain;
    background-color: #f9f9f9;
    
}


.contenedor-detalle { 
    padding: 50px; 
}

.ficha-producto {
    display: flex;
    gap: 50px;
    
    
}

.imagen-detalle img {
    max-width: 500px; 
    width: 100%;
    max-width: 500px;
    border-radius: 8px; 
}


button {
    background-color: sandybrown;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}



footer {
    color:white;
    background-color: #242323;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
}

form {
    margin-top: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

label {
    text-align: center;
}

input {
    border-radius: 5px;
    height: 40px;
    border: 1px solid #d3d3d3;
}
#CerrarSesion {
    display: flex;
    justify-content: center;
}
.Conocenos {
    text-align: center;
}
h3 {
    text-decoration: underline;
}
#Correo {
    display: flex;
    justify-content: center;
}
.Conocenos h3 {
    text-decoration: underline;
}

.tarjeta-producto img {
    width: 100;
    height: 250px;
    object-fit: contain;
    background-color: #f9f9f9;
    padding: 5px, 5px;
}

.Tu-Compra {
    text-align: center;
}

.Comprar {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .vista-productos {
        grid-template-columns: 1fr;
    }

    #logo-principal {
        width: 120px;
    }
}