body{
    background-color:rgb(233, 218, 152);
    font-family:"Rubik";
    src: url(Rubik-Regular.ttf);
}
h1{
    text-align:center;
    color:rgb(218, 162, 42);;
    margin:0px;
}
h2{
    border:2px, solid;
    color:rgb(238, 184, 69);
    background-color:bisque;
}
.colorVerd{
    color:rgb(8, 182, 8);
}
